name: Build and Push to DockerHub

on:
  push:
    branches:
      - main
    #tags:
    #  - "*"

env:
  APP_NAME: exp-parser

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
         go get -v -t -d ./...

      - name: Build
        run: |
         mkdir bin
         CGO_ENABLED=0 GOOS=linux go build -0 bin .

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build artifacts
          path: bin

  dockerize:
    name: Dockerize
    needs: build
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: build artifact
          path: bin

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/exp-parser:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      